<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <welcome-file-list>
    <welcome-file>session</welcome-file>
  </welcome-file-list>

	
	<filter>
	<filter-name>SessionFilter</filter-name>
	<filter-class>com.filter.SessionFilter</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>SessionFilter</filter-name>
	<url-pattern>/feed</url-pattern>
	<url-pattern>/friends</url-pattern>
	<url-pattern>/photos</url-pattern>
	<url-pattern>/search</url-pattern>
	<url-pattern>/user</url-pattern>
	</filter-mapping>
		
</web-app>