#header {
    height: 80px;
    background-color: rgb(54, 3, 102);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}
.clearfix::after{
    content:'';
    clear:both;
    display: block;
}

#logo,
#search,
#addPost {
    float: left;
    align-content: center;
    width: 30%;
    margin-top: 20px;
}

#search-btn {
    padding-left: 4px;
    float: left;
    align-content: center;
    margin-top: 20px;
}

#addPost {
    text-align: center;
    float: right;
    margin-right: -20px;
}

#uploadAndPostBtn {
    margin-top: 8px;
}

body {
    margin: 0;
}

#dashboard {
    background-color: rgb(228, 231, 250);
    height: 100%;
}

#proPic {
    height: 70px;
    width: 70px;
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
    background-color: #5b99ce;
}

#leftPanel {
    text-align: left;
    width: 20%;
    background-color: rgb(226, 227, 240);
    height: 100%;
    position: fixed;
    top: 80px;
}

.leftPnlBtn {
    border: none;
    background-color: rgb(226, 227, 240);
    color: black;
    width: 100%;
    padding: 0px 32px;
    padding-left: 70px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.leftPnlBtn:hover {
    background-color: #837bb1;
    color: white;
    transition: 0.5s;
}

.leftPnlBtn:focus {
    background-color: #3a2b8b;
    color: white;
}

.feedBtn {
    font-size: 14px;
}

#middlePanel {
    margin-top: 100px;
    width: 60%;
    margin-left: 20%;
    height: 200vh;
    float: left;
}

#rightPanel {
    margin-top: 80px;
    width: 20%;
    height: calc(100vh - 80px);
    float: left;
    right: 0;
    position: fixed;
    background-color: rgb(239, 239, 245);
}

#postBtn {
    margin-top: 4px;
    float: right;
}

#uploadImage {
    margin-top: 4px;
    margin-right: 6px;
    float: right;
}

#addNewPost {
    margin: auto;
    width: 70%;
    align-items: center;
    margin-bottom: 0px;
}

#feedProPic {
    height: 20px;
    width: 20px;
    background-color: #5590c4;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    padding-bottom: 4px;
}

#feedProName {
    font-size: 14px;
    font-weight: bold;
}

.feedText{
    text-align: left;
    
}

#feedsPanel {
    margin: auto;
    margin-top: 55px;
    width: 70%;
    align-items: center;
    color: black;
}

#cmtArea {
    margin-top: -10px;
}

#feedPic {
    margin: auto;
    border: 2px;
    height: 400px;
    background-color: wheat;
    align-items: center;

}

.img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

#feedPanel {
    margin-top: 10px;
    float: left;
    margin-bottom: 8px;
}

.feedBtn {
    font-size: 14px;
    size: 10px;
}

#titleMain {
    color: white;
    margin: auto;
    margin-left: 40px;
    padding-left: 30px;
    padding-top: 7px;
    ;
}

#endOfFeed {
    float: left;
    margin-top: 60px;
}

#logout{
    margin-top:200px;
}

#mid40{
    margin:auto;
    width:35%;
}

.g-signin2{
    margin:auto;
}

.gallery{
    margin:20px;
}

.galleryPic {
    border: 2px;
    height: 130px;
    width:130px;
    background-color: wheat;
    align-items: center;
    float:left;
    margin: 3px;
    border: 2px solid #0000ff3d;
}


.feedProImage{
    width:42px;
    height:42px;
    float:left;
    margin:0;
}

.feedDetail{
    height: 42px;
    margin-left: 52px;
}
h4{
    margin : 0;
    padding : 3px;
}

.feedProName{
    margin : 0;
}
.feedTime{
    opacity: 0.5;
}

.imageCurve{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
   }
