body {
    margin: 0;
}

h4{
    margin : 0;
    padding : 3px;
}

.header {
    height: 80px;
    background-color: rgb(54, 3, 102);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}

.fl-lf-al-cn{
    float: left;
    align-content: center;
    width: 30%;
    margin-top: 20px;
}

.feedBtn {
    float: right;
    margin-left: 10px;
}

.feedBtns {
    margin-top : 5px;
}

.titleMain {
    color: white;
    margin: auto;
    margin-left: 40px;
    padding-left: 30px;
    padding-top: 7px;
    font-size: 20px;
}

.search-btn {
    padding-left: 4px;
    float: left;
    align-content: center;
    margin-top: 20px;
}

.addPost {
    text-align: center;
    float: right;
    margin-right: -20px;
}

.leftPanel {
    text-align: left;
    width: 20%;
    background-color: rgb(226, 227, 240);
    height: 100%;
    position: fixed;
    top: 80px;
}

.proPicAlign{
    height: 70px;
    width: 70px;
    margin: auto;
    margin-top: 30px;
    border-radius: 50%;
    background-color: #5b99ce;
}

.img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.leftPnlBtn {
    border: none;
    background-color: rgb(226, 227, 240);
    color: black;
    width: 100%;
    padding: 0px 32px;
    padding-left: 70px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.leftPnlBtn:hover {
    background-color: #837bb1;
    color: white;
    transition: 0.5s;
}

.leftPnlBtn:focus {
    background-color: #3a2b8b;
    color: white;
}

.middlePanel {
    margin-top: 100px;
    width: 60%;
    margin-left: 20%;
    float: left;
}

.clearfix::after{
    content:'';
    clear:both;
    display: block;
}

.PostInput {
    margin: auto;
    width: 70%;
    align-items: center;
    margin-bottom: 0px;
    display:none;
}

#postBtn {
    margin-top: 4px;
    float: right;
}

#addImage {
    margin-top: 4px;
    margin-right: 6px;
    float: right;
}

.feedsPanel {
    margin: auto;
    margin-top: 55px;
    width: 70%;
    align-items: center;
    color: black;
}

.feedTime{
    opacity: 0.5;
}

.feedProPic {
    width:45px; 
    height:45px; 
    border-radius: 50%; 
    vertical-align: middle;
}

.feedText{
    text-align: left;  
}

.feedPic {
    margin: auto;
    border: 2px;
    height: 400px;
    background-color: wheat;
    align-items: center;

}

#feedsPanel {
    margin: auto;
    margin-top: 55px;
    width: 70%;
    align-items: center;
    color: black;
}

.g-signin2{
    margin:auto;
}

.gallery{
    margin:20px;
}

.galleryPic {
    border: 2px;
    height: 130px;
    width:130px;
    background-color: wheat;
    align-items: center;
    float:left;
    margin: 3px;
    border: 2px solid #0000ff3d;
}

.rightPanel {
    margin-top: 80px;
    width: 20%;
    height: calc(100vh - 80px);
    float: left;
    right: 0;
    position: fixed;
    background-color: rgb(239, 239, 245);
}

#mid40{
    margin:auto;
    width:35%;
}

.logout{
    margin-top:200px;
}

.friendsPortion{
    margin-left: 36%;
}

.endOfFeeds{
    margin-bottom: 40px;
}

.btn-xs {
    font-size: 13px;
}